body {
  background-color: #EEEFA8;
}
.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}
.middle{
  display: inline-block;
}
.container-fluid {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
form {
  margin: 50px;
}
.form-group {
  margin-right: 30px;
  margin-left: 30px
}
.content{
  display: none;
  position: absolute;
  width: 90%;
  height: 90%;
}
#new-player h3 {
  margin-left: 40%;
  font-family: 'Charm', cursive;

}
h4 {
  font-family: 'Charm', cursive;
  color: blue;
}
.form-group {
  font-family:'ZCOOL KuaiLe', cursive;
}
#play {
  margin-left: 45%;
  font-family: 'ZCOOL KuaiLe', cursive;
  color: blue;
}
.well {
  font-family:'ZCOOL KuaiLe', cursive;
  font-size: 17px;
  text-align: center;
}
.well h3{
  font-family:'Charm', cursive;;
  font-size: 35px;
  text-align: center;
}
.well h2 {
  font-size: 15px;
  font-family:'Charm', cursive;
}
